*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    height: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    align-items: center;
}

#navcont1{
    font-size: 30px;
    color: rgb(255, 72, 0);
    font-weight: 800;
}

#navcont2 a{
    text-decoration: none;
    color: rgb(44, 41, 41);
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    transition-property: text-shadow;
    transition-duration: .5s;
}

#navcont2 a:hover{
    text-shadow: 0px 0px 15px darkblue;
}

.navcont3btn{
    padding: 10px;
    border-radius: 50px;
    width: 75px;
    font-weight: 800;
}

#navcont3btn1{
    border: 2px solid red;
    color: red;
    cursor: pointer;
}

#navcont3btn2{
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

#page1cont2{
    box-shadow: 0px 0px 5px rgb(239, 239, 239);
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    background-color: linear-gradient (to left, white, white);
    position: relative';
}

#page1cont2leftbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

#page1cont2leftbox h1{
    font-size: 50px;
}

#page1cont2leftbox p{
    color: rgb(129, 129, 129);
}

#page1cont2leftboxbtn{
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

#page1cont2leftbox img{
    border-radius: 30px;
    height: 250px;
}

#page1cont2Inputbox{
    box-shadow: 0px 0px 10px rgb(207, 207, 207);
    border: 2px solid rgb(164, 160, 160);
    height: 70px;
    position: absolute;
    width: 600px;
    bottom: 20px;
    margin-left: 290px;
    padding: 10px;
    gap: 15px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}

#page1cont2Inputbox button{
    border: none;
    background-color: rgb(255, 72, 0);
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    margin-top: 20px;
}

#page2{
    height: 400px;
    /* margin-top: 100px; */
    padding: 100px 100px 0px 100px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.884), white, white, rgba(255, 247, 247, 0.902));
}
#page2categories{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.page2categorybox{
    height: 140px;
    width: 140px;
    text-align: center;
    align-content: center;
    border: 2px solid #808080;
    border-radius: 10px;
    transition: transform 0.5s;
}

.page2categorybox img{
    border-radius: 12px;
}

.page2categorybox:hover{
    transform: scale(1, 1);
}

#featured{
    height: 60%;
    padding-top: 20px;
}

#featured h1{
    font-size: 35px;
    padding-left: 45px;
}

#featuredcont{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.featuredcontbox{
    box-shadow: 0px 0px 5px rgba(222, 218, 218, 0.753);
    width: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.featuredcontbox img{
    width: 100%;
    height: 100px;
}

.featuredcontbox p{
    padding-left: 10px;
    padding-top: 10px;
}

#promo{
    border: 1px solid red;
    background: linear-gradient(to right,  rgba(255, 221, 221, 0.758), rgba(255, 221, 221, 0.758), white);
    padding: 50px 100px 50px 100px;
    margin-top: 20px;
}

#promo h1{
    padding: 30px;
    font-size: 35px;
}

#promocont{
    display: flex;
    gap: 20px;
    /* justify-content: center; */
}

.promocontbox{
    background: white;
    height: 80px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgb(220, 220, 220);
}
    
    #page4{
        padding: 20px;
    }

    #page4 h1{
        font-size: 4opx;
        margin-top: 30px;
    }

    #page4cont2{
        display: flex;
        gap: 20px;
    }

    .page4cont2boxes{
        width: 200px;
    }









    